@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #61b6e1;
  margin: 0;
}

.imagen-titulo {
  width: 200px;
  position: absolute;
  top: 20px; /* Ajusta la posición vertical de la imagen */
  left: 20px; /* Ajusta la posición horizontal de la imagen */
  z-index: 1; /* Asegura que la imagen esté por encima del título */
}

.titulo {
  background: #0083c6;
  color: white;
  font-size: 34px;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}

.subtitulo {
  background: #0083c6;
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-aprendizaje {
  width: 440px;
  font-size: 30px;
  height: 440px;
  background: #0083c6;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  flex-direction: flex;
  margin: 30px;
  margin-top: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agregamos una transición suave al cambio de color de fondo */
}

.tarjeta-de-aprendizaje img {
  width: 180px;
  
}

.tarjeta-de-aprendizaje:hover,
.tarjeta-de-aprendizaje.hover-effect { /* Agregamos .hover-effect aquí para que tenga prioridad */
  background-color: #f0f0f0; /* Cambia el color de fondo al hacer hover o cuando tiene la clase 'hover-effect' */
  color: black;
  }

.tarjeta-de-aprendizaje.selected {
  border: 2px solid #8ea2b8; /* Cambia el borde de la tarjeta seleccionada */
  background-color: #e9f5ff; /* Cambia el color de fondo de la tarjeta seleccionada */
  color: black;
}

#seleccion-aprendizaje {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boton-Inicio-cube,
#boton-Inicio-dashboard,
#boton-Inicio-comercio,
#boton-Inicio-catalogo,
#boton-Inicio-gestion-del-usuario,
#boton-Inicio-cesta,
#boton-Inicio-pedido,
#boton-Inicio-flujo-mercancias,
#boton-Inicio-cesta-impresion,
#boton-Inicio-gestion-backoffice {
  margin: 30px;
  color: black;
  background-color: white;
}

#boton-seleccionar-aprendizaje {
  margin: 20px;
}

#contenido-cube {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0083c6;
}

.tarjetas-de-cube {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuir las tarjetas con espacio entre ellas */
  margin: 160px; /* Añadir un margen alrededor de las tarjetas */
  background-color: #0083c6; /* Color de fondo del grupo de tarjetas */
}

.tarjeta-apartado-cube {
  width: 250px; /* Ajustar el ancho de las tarjetas de CUBE */
  height: 400px; /* Ajustar la altura de las tarjetas de CUBE */
  background: #61b6e1;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column; /* Asegurar que el contenido se distribuya verticalmente */
  justify-content: center;
  align-items: center;
  margin: 20px; /* Añadir un margen entre las tarjetas */
}

.tarjeta-apartado-cube img {
  height: 120px;
  width: 200px;
  margin-bottom: 10px; /* Añadir espacio entre la imagen y el texto */
}

#boton-seleccionar-CUBE {
  margin: 20px;
  align-items: center;
}

#contenido-cube h1 {
  display: flex;
  color: white;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
 
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
}

#contenido-cube h2 {
  font-size: 20px;
  color: aliceblue;
}

#contenido-cube img {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

#contenido-cube p {
  font-size: 20px;
  color: aliceblue;
}

input[type="radio"][name="tarjeta-seleccion-aprendizaje"] {
  display: none;
}

#contenido-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el texto */
  color: white;
}

.tarjeta-Dashboard {
  max-width: 80%; /* Ajusta según sea necesario */
  margin: 20px auto; /* Centra horizontalmente con espacio superior e inferior */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  border-radius: 10px; /* Añade esquinas redondeadas */
}

/* Estilos comunes para todas las tarjetas de CUBE */
.tarjetas-de-cube .tarjeta-apartado-cube {
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s, box-shadow 0.3s; /* Agregamos una transición suave a los cambios */
  margin: 10px; /* Agregamos un margen para separar las tarjetas */
  flex-basis: calc(33.333% - 20px); /* Calculamos la base flex para que haya tres tarjetas por fila */
  box-sizing: border-box; /* Incluimos el padding y el borde en el ancho y alto de la tarjeta */
}

/* Estilos específicos para las tarjetas de CUBE */
.tarjetas-de-cube .tarjeta-apartado-cube p {
  margin: 10px 0; /* Agregamos un espacio entre el párrafo y los bordes de la tarjeta */
}

/* Estilos al hacer hover sobre las tarjetas de CUBE */
.tarjetas-de-cube .tarjeta-apartado-cube:hover {
  border-color: #0083c6; /* Cambia el color del borde al hacer hover */
  box-shadow: 0 0 15px rgba(0, 131, 198, 0.8); /* Cambia la sombra al hacer hover */
}

/* Ajustes para el contenedor de las tarjetas */
.tarjetas-de-cube {
  display: flex;
  flex-wrap: wrap; /* Hace que las tarjetas se envuelvan a la siguiente línea si no caben en el ancho del contenedor */
  justify-content: space-evenly; /* Distribuir las tarjetas con espacio entre ellas */
  margin: 20px; /* Ajusta el margen alrededor del contenedor de las tarjetas */
  background-color: #0083c6; /* Color de fondo del grupo de tarjetas */
  flex-direction: column;
  justify-content: space-around;
}

/* Y así sucesivamente para las otras secciones */



.imagenDashboard1 {
  max-width: 100%;
  height: auto;
  margin-top: 20px; /* Ajusta el espacio entre el texto y la imagen */
}

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: #0083c6;
}  

button:hover {
  background-color: #0083c6;
}

.container {
 max-width: 1400px;
 margin:auto;
} 

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0083c6;
  color: white;
  padding: 10px;
  text-align: center;
}

#tarjetas-Cube {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* Asegúrate de agregar este estilo para ocultar los párrafos */
#contenido-dashboard p {
  display: none;
}

.contenido-imagen {
  display: none;
  height: 440px;
  width: 200px;
}

#contenido-dashboard p2 {
  display: none;
}

.carta ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}